[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	verbose = true
[core]
	editor = nvim
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = master
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[tag]
	sort = version:refname
[user]
	email = benci.luca@tuta.io
	name = Luca Benci
